<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wordle Game</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="game-container">
  <button id="refreshButton">&#x21bb;</button>
  <button id="profileButton">&#x1F464;</button>

  <div id="profilePanel">
    <p id="usernameDisplay"><span id="username">{{ username }}</span></p>
    <p id="statsDisplay"></p> 
    <button id="logoutButton">Logout</button>
  </div>

  <h1>Wordle Game</h1>
  <div class="board">

  </div>
  <input type="text" id="guessInput" maxlength="5" placeholder="5-letter word">
  <button id="guessButton">Guess</button>
  <p id="message"></p>
  <div id="keyboard"></div>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
<script src="{{ url_for('static', filename='profile.js') }}"></script>
</body>
</html>
